html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, .root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;
  line-height: 1.5;
}
body, .app {
  background: #f5f5f5;
}

.App {
}
.App-header {
  /*background-color: rgb(32,33,38);*/
  background-color: white;
  height: 200px;
  padding: 20px;
  color: grey;
}
.App-header h1 {
  text-align: center;
  letter-spacing: 5px;
}
.App-header-container {
  display: flex;
  padding: 0 30%;
}
.App-header-control {
  flex: 1;
  width: 100px !important;
  margin: 0 10px !important;
}
.week-container {
  margin: 0 20px;
}
.day-container:nth-of-type(1) {
  border-top: solid salmon;
}
.day-container {
  border-bottom: dotted salmon;
}
.day-container:last-of-type {
  border-bottom: solid salmon;
}
.day-title {
  border-bottom: inset;
  display: flex;
  justify-content: flex-start;
}
.date-display {
  width: 300px;
}
.date-display h2 {
  letter-spacing: 3px;
}
.date-small {
  margin-left: 10px;
  font-size: 0.6em;
  letter-spacing: 2px;
}
.day-active-control {
  width: 100px;
  display: flex;
  align-items: center;
}
.task-container {
  display: flex;
  align-items: center;
}
.App-footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}
.wide-btn-text button {
  letter-spacing: 3px;
}
.input-field {
  margin: 0 5px;
  /*background-color: rgb(255,255,255);*/
}


